

@import url('https://fonts.googleapis.com/css?family=Sansita');

@import url('https://fonts.googleapis.com/css?family=Helvetica');
/*retriive font data */



* {
    box-sizing: border-box;    /* changes width property to total width instead of content width */

}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;   /* just in case we have any older browsers that don't recognize the HTML5 semantic elements */
}

body {
    margin: 0;  /* remove any margin from body to avoid unsightly gaps. */
    padding: 0;  /* ditto for padding  */

}

.rotate25 {
    transform: rotate(25deg);
    display: inline-block;
}

/* rotate the logo */

.sub-title {
padding-left: 200px;
} /* Padding to move the text right*/





#nav-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color:  #F07C6C;
}

/*adjust nav bar position */


nav{
    height: 50px;

}

nav > ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-around;
} /* remove points and adjust position */

footer{
    padding-bottom: 50px;
    background-color: #A6D8DB;
} /*add space so nav bar doesn't cover footer, and background color*/



#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/homework/weather/images/sunny-winter.jpg");
} /*put items vertically and center it*/



#current-condition{
    flex: 1 auto;
    display: flex;
    flex-flow: column wrap;
    order: 3;

    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;

} /*provide the box to be organized and position it with the temperature*/

.title {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;
}

.wind{
    display: flex;
    justify-content: space-around;
}
.precipitation{
    display: flex;
    justify-content: space-around;
}

/* adjust the diplay so the text is positioned with the title*/



#quick-look{

    flex: 1 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
/* organize information into a box*/



.temperature{

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;
    width: 200px;


}
/* reorganize the temperature information  for the quick look box*/


#forecast{
    display: none;
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;
}
/*hide the data*/

main {
    background-image: url("images/sunny-winter.jpg");
    background-size: cover;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, "second choice", generic-family;
}
h1{
    font-size: 2em;
}
h1 a {
font-size: 1em;
}

/*change font for headings */

p {
    font-family: Helvetica, "second choice", generic-family;
}
/* change font for other text*/

* {
font-size: 20px;
}
/* change base font size */


nav a:link {
    text-decoration: none;
    color: #47556F;
}
nav a:visited {
    text-decoration: none;
    color: #4A4653;
}
nav a:hover {
    text-decoration: none;
    color: #E7EF61;
}
nav a:active {
    color: #A6D8DB;
}
/* changesthe links  color according to action*/

header{
    background-color: #A6D8DB;
    padding-top: 1px;
}

/*change background colors*/

.cur-temp > h2{
    font-size: 2em;
}
.title > h2 {
    font-size: 1.3em;
}

/*adjust various text sizes*/



/* Makes the page responsive*/

@media (min-width: 500px) {
    #forecast {
    display: initial;
        flex: 1 0 30%;
    }
    /*displays  hourly forecast*/

    #content {
        flex-flow: row wrap;
        align-items: stretch;

    }
    /*Adjust flexbox direction*/
    #nav-bar {
        position: static;
    }
    /*moves the nav bar back to top of page*/

    .col-title > h2{
        font-size: 1.3em;
    }

    /* adjusts title boxes. */
    #current-condition {
    order: -2;
        flex: 1 0 30%;
    }
    #quick-look {
        flex: 1 0 30%
    }

/*adjust the content boxes*/

    #quick-look {
        background-image: url("/homework/weather/images/sunny-winter.jpg")
    }
    #content {
        background-image: none;
        background-color: #47556F;
    }


/* add the background image to the middle column*/
    #content > div{
        max-height: 350px;
    }

    /*set the max height for the columns and lets the Forecast column into scolling*/

    #forecast{
        overflow: auto;
    }
    .hour > ul {
        list-style-type: none;
        padding-left: 0;
    }
    .hour ul li {
        display: flex;
        justify-content: space-around;
    }


/*    adjust the forecast list*/

    body {
        width: 95%;
        max-width: 775px;
        margin: auto;
    }
/*limits the sets the mad body width*/
}
